/* ReSharper disable CssBrowserCompatibility */

html {
    height: 100%;
}

body
{
    background-color: rgb(35, 35, 35);
    margin: 0;

    height: 100%;

    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: rgb(200, 200, 200);
    cursor:default;
    overflow: hidden;
}

/* Scrollbars style */
::-webkit-scrollbar
{
    width: 10px;
    margin-right: -10px;
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}

/* Windows HEADER / Caption */
#header {
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 20px;
    text-align: center;

    display: inline-block;
    line-height: 20px;
}

#header .header_icon_exit {
    display: inline-block;
    float: right;

    width: 20px;
    height: 20px;

    margin-top: 5px;

    cursor: pointer;

    background-image: url("../img/exit.png");
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
}

#header .header_icon_minimize {
    display: inline-block;
    float: right;

    width: 20px;
    height: 20px;

    margin-top: 5px;

    cursor: pointer;

    background-image: url("../img/minimize.png");
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
}

#header .header_icon_maximize {
    display: inline-block;
    float: right;

    width: 20px;
    height: 20px;

    margin-top: 5px;

    cursor: pointer;

    background-image: url("../img/maximize.png");
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
}

#header .header_logo {
    font-weight: 300;
    font-size: 16px;
}

#wrapper {
    width: 100%;
    height: calc(100% - 20px); /* -20px, the header*/
}

/* Message window classes */
#message_overlay {
    position: fixed;
    left: 0;
    top: 0;

    background-color: #232323;
    background-color: rgba(35, 35, 35, 0.3);

    color: rgb(15, 15, 25);
    font-size: 14px;
    font-family: 'Lato', sans-serif;

    width: 100%;
    height: 100%;

    z-index: 20;
}

.message_overlay_window {
    position: fixed;

    left: calc(50% - (350px / 2));
    top: calc(50% - (100px / 2));

    background-color: rgb(230, 230, 235);
    
    padding: 10px;
    border-radius: 5px;

    text-align: center;

    width: 350px;
    height: 100px;
}

.message_overlay_window_error {
    border-top: 5px solid;
    border-top-color: red;
}

.message_overlay_window_button {
    border-radius: 2px;

    position: absolute;

    right: 5px;
    bottom: 5px;

    font-size: 12px;
    
    background-color: rgb(230, 230, 235);

    border: 1px solid;
    border-color: rgb(150, 150, 150);
}

.message_overlay_window_button:hover {
    border-color: rgb(160, 160, 160);
    color: rgb(25, 25, 25);
    cursor: pointer;
}

/* Progress window classes */
#progress_overlay {
    position: fixed;
    left: 0;
    top: 0;

    background-color: #232323;
    background-color: rgba(35, 35, 35, 0.3);

    color: rgb(15, 15, 25);
    font-size: 14px;
    font-family: 'Lato', sans-serif;

    width: 100%;
    height: 100%;

    z-index: 20;
}

#progress_overlay_window {
    position: fixed;

    left: calc(50% - (350px / 2));
    top: calc(50% - (60px / 2));

    background-color: rgb(230, 230, 235);

    padding: 10px 10px 10px 60px;
    border-radius: 5px;

    text-align: center;

    line-height: 60px;
    width: 350px;
    height: 60px;
}

#progress_overlay_wheel {
    position: absolute;

    z-index: 25;

    left: 25px;
    top: calc(40px - (24px / 2));
}

/* Common class for disabling selection */
.noselect {
    -webkit-user-select: none;
    /*enable by: -webkit-user-select: text;*/
}

/* Common base for views */
.view {
    float: left;
    height: 100%;
}

/* Common menu for views */
.view .view_menu {
    width: calc(100% - 20px); /* -20px, the padding*/
    height: 25px;
    line-height: 25px;
    
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgb(40, 40, 40);

    font-weight: 300;
    font-size: 12px;
}

.view .view_menu .view_menu_button {
    display: inline-block;
    float: right;
    height: 20px;

    padding-left: 8px;

    cursor: pointer;

    font-weight: 400;
}

.view_menu_button:hover {
    color: rgb(225, 225, 225);
}

.view .view_menu .view_menu_text {
    display: inline-block;
    float: right;
    height: 20px;

    padding-left: 8px;

    font-weight: 400;
}

/* Project View */
#projects_view {
    width: 149px; /* - 1px because the border*/

    border-right: 1px solid;
    border-right-color: rgb(48, 48, 48);
}

.projects_list {
    height: calc(100% - 45px); /* -45px, make some space for projects_list_buttons */
}

.projects_list_buttons {
    height: 20px;
    font-size: 12px;

    padding-left: 6px;
}

.projects_list_button {
    cursor: pointer;
}

.projects_list_button:hover {
    color: rgb(225, 225, 225);
}

.projects_list_item {
    padding-left: 5px;
    margin-bottom: 2px;
    height: 35px;
}

.projects_list_item_active 
{
    border-left: 2px solid;
    border-left-color: rgb(255, 105, 0);
}

.projects_list_item_notactive 
{
    border-left: 2px solid;
    border-left-color: rgb(150, 120, 0);
}

.projects_list_item_chcount {
    font-weight: 300;
    font-size: 12px;
}

.projects_list_item_delete {
    float: right;

    margin-top: calc(-35px / 2);
    margin-right: 2px;

    width: 6px;
    height: 6px;
    
    background-image: url("../img/delete.png");
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
}

.projects_list_item_delete:hover {
    cursor: pointer;
}

/* Files View */
#files_view {
    width: calc(100% - 150px);
}

.files_list {
    overflow-y: auto;

    height: calc(100% - 50px); /* make space for lower menu */
    width: 100%;
}

.files_list_item {
    margin-top: 1px;

    padding-left: 10px;

    height: 25px;
    line-height: 25px;
}

.files_list_item_selected {
    background-color: rgb(48, 48, 50);
}

.files_list_item_new {
    border-left: 2px solid;
    border-left-color: rgb(35, 255, 35);
}

.files_list_item_changed {
    border-left: 2px solid;
    border-left-color: rgb(255, 215, 0);
}

.files_list_item_deleted {
    border-left: 2px solid;
    border-left-color: rgb(255, 35, 35);
}
